@import url("../header.css"); 
@import url("../footer.css");
@import url("../common.css");

.inner {
    width: 980px;
}
.btn {
    display: block;
    background-color: #EFF0F2;
    width: 70px;
    height: 35px;
    margin-left: 15px;
    border-radius: 6px;
    text-align: center;
    line-height: 35px;
    font-size: 13px;
    font-weight: 700;
}
a{
	display: block;
}




/* 이벤트 본문 */
.event-content > .inner {
    margin: 210px auto 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bbb;
}
.event-content .btn-group.title {
	display: flex;
    position: absolute;
    top: -50px;
    right: 0;
}
.event-content .title-wrapper {
    background-color: #f8f8f8;
    display: flex;
    height: 45px;
    position: relative;
    margin-bottom: 20px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    color: #777;
}
.event-content .title-wrapper .category {
	width: 100px;
    margin: 0 20px;
    color: #2275a4;
}
.event-content .title-wrapper .title {
	width: 650px;
}
.event-content .title-wrapper .date {
	width: 190px;
    position: absolute;
    right: 20px;
    font-size: 13px;
    font-weight: 400;
}
.event-content .event-img img {
	width: 980px;
}
.event-content .btn-group.content {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.event-content .btn--top {
    position: absolute;
    right: 0;
    bottom: -55px;
}