@import url("../header.css");
@import url("../footer.css");
@import url("../common.css");

/* 광고 이미지 */
.ad-wrapper {
  background-color: #333;
  width: 180px;
  height: 420px;
  position: absolute;
  top: 58px;
  right: -240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ad-wrapper .ad-img {
  width: 160px;
  height: 320px;
}
.ad-wrapper .description div {
  margin: 5px 0;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 14px;
}


/* 게시판 글 목록 */
.board .inner {
  margin-top: 200px;
  width: 890px;
  height: 650px;
}
.board a {
	color: #333;
}
.board .board-title {
  font-size: 30px;
  font-weight: 900;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #333;
}
.board .board-table {
  width: 890px;
  border-top: 1px solid #777 ;
}
.board .board-table th {
  background-color: #ffdddd;
  height: 40px;
  line-height: 40px;
  text-align: left;
  color: #444;
  font-size: 16px;
  font-weight: 700;
}
.board .board-table th:first-child {
  padding-left: 20px;
}
.board .board-table tr {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dotted #dfdfdf;
  font-size: 14px;
}
.board .board-table tr:hover {
  background-color: #fffafa;
}
.board .board-table tr td:first-child {
  padding-left: 20px;
}
.board .board-table tr td:nth-child(2) {
  width: 500px;
  display: flex;
  padding-right: 20px;
}
.board .board-table tr td:nth-child(2) a {
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board .board-table tr td:nth-child(2) span {
  font-weight: 700;
}

/* 페이징 처리 */
.board .paging {
  width: 100%;
  position: absolute;
  bottom: 100px;
  text-align: center;
}
.board .paging a:hover {
  border-bottom: 1px solid #333;
}
.board .paging .prev,
.board .paging .next {
  margin: 0 20px;
}
.board .paging .pageNum {
  margin: 0 5px;
}
.board .paging .writeBtn {
  display: block;
  width: 70px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #ddd;
  line-height: 30px;
  font-size: 13px;
}

/* 현재 페이지넘버에 표시 */
.nowPageNum {
  padding: 0 5px;
  background-color: #ffeeee;
}