@import url("../header.css");
@import url("../footer.css");
@import url("../common.css");


/* 게시판 글 목록 */
.notice .inner {
  margin-top: 200px;
  width: 890px;
  height: 650px;
}
.notice a {
	color: #333;
}
.notice .board-title {
  font-size: 30px;
  font-weight: 900;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #333;
}
.notice .board-table {
  width: 890px;
  border-top: 1px solid #777 ;
  border-collapse: collapse;
}
.notice .board-table th {
  background-color: #ffdddd;
  height: 40px;
  line-height: 40px;
  text-align: left;
  color: #444;
  font-size: 16px;
  font-weight: 700;
}
.notice .board-table th:first-child {
  padding-left: 20px;
}
.notice .board-table tr {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dotted #dfdfdf;
  font-size: 14px;
}
.notice .board-table tr:hover {
  background-color: #fffafa;
}
.notice .board-table tr td:first-child {
  padding-left: 20px;
}
.notice .board-table tr td:nth-child(2) {
  width: 500px;
  padding-right: 20px;
}
.notice .board-table tr td:nth-child(2) a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice .board-table tr td.file {
	position: relative;
}
.notice .board-table tr td.file span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-weight: 200;
  color: #666;
  font-size: 22px;
  height: 22px;
}

/* 페이징 */
.notice .paging {
  width: 100%;
  position: absolute;
  bottom: 100px;
  text-align: center;
}
.notice .paging a:hover {
  border-bottom: 1px solid #333;
}
.notice .paging .prev,
.notice .paging .next {
  margin: 0 20px;
}
.notice .paging .pageNum {
  margin: 0 5px;
}
.notice .paging .writeBtn {
  display: block;
  width: 70px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #ddd;
  line-height: 30px;
  font-size: 13px;
}

/* 현재 페이지넘버에 표시 */
.nowPageNum {
  padding: 0 5px;
  background-color: #ffeeee;
}