/* FOOTER */
footer {
  background-color: #f8f8f8;
}
footer .banner {
  width: 100%;
  height: 240px;
  background-image: url("../images/footer_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffa443;
}
footer .menu {
  padding: 19px 0;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
footer .menu li {
  padding: 0 17px;
  font-size: 13px;
  font-weight: 700;
  color: #777;
}
footer .info {
  padding: 23px 0;
  height: 80px;
}
footer .info li {
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 2px;
  color: #666;
}
footer .info li span::before {
  content: "· ";
}
footer .info li span:first-child::before {
  content: "";
}